<!DOCTYPE html>
<html>
<head>
  <title>Create an Event</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
<body ng-app="createEvent">
  <div class="row">
    <div class="text-center col-md-4 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <img src="https://storage.googleapis.com/nowmapr_v0/img/nowmapr.jpg" alt="nowmapr" height="75" width="225">
    </div>
    
    <div ng-repeat="event in events">
      {{event.title}}, {{event.subtitle}}
    </div>
    
    
	</script>

  
</body>
</html>