<!DOCTYPE html>
<html>
<head>
  <title>Create an Event</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
<body ng-app="createEvent">
  <div class="row">
    <div class="text-center col-md-4 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <img src="https://storage.googleapis.com/nowmapr_v0/img/nowmapr.jpg" alt="nowmapr" height="75" width="225">
    </div>

    <form ng-submit="addEvent()" style="margin-top:30px">
      <span>
      <h3>Create a New Event</h3>
      
      <div class="text-left">
      <div class="form-group">
        <label for="Event Title">Event Title</label>
        <input type="text" class="form-control" placeholder="Title" ng-model="title">
      </div>
      </br>

      <div class="form-group">
        <label for="Event Subtitle">Event Subtitle</label>
        <input type="text" class="form-control" placeholder="Subtitle" ng-model="subtitle">
      </div>
      </br>
      
      <div class="form-group">
        <label for="Event Date">Event Date</label>
        <input type="date" class="form-control" placeholder="Date" ng-model="date">
      </div>
      </br>
      
      <div class="form-group">
        <div class="text-center">
        <label for="Start Time">Event Start Time</label>
        <select placeholder="Start Time" ng-model="s_Time">
	        <option value="5:00 AM">5:00 AM</option>
	        <option value="5:15 AM">5:15 AM</option>
	        <option value="5:30 AM">5:30 AM</option>
	        <option value="5:45 AM">5:45 AM</option>
 
	        <option value="6:00 AM">6:00 AM</option>
	        <option value="6:15 AM">6:15 AM</option>
	        <option value="6:30 AM">6:30 AM</option>
	        <option value="6:45 AM">6:45 AM</option>
 
	        <option value="7:00 AM">7:00 AM</option>
	        <option value="7:15 AM">7:15 AM</option>
	        <option value="7:30 AM">7:30 AM</option>
	        <option value="7:45 AM">7:45 AM</option>
 
	        <option value="8:00 AM">8:00 AM</option>
	        <option value="8:15 AM">8:15 AM</option>
	        <option value="8:30 AM">8:30 AM</option>
	        <option value="8:45 AM">8:45 AM</option>
 
	        <option value="9:00 AM">9:00 AM</option>
	        <option value="9:15 AM">9:15 AM</option>
	        <option value="9:30 AM">9:30 AM</option>
	        <option value="9:45 AM">9:45 AM</option>
 
	        <option value="10:00 AM">10:00 AM</option>
	        <option value="10:15 AM">10:15 AM</option>
	        <option value="10:30 AM">10:30 AM</option>
	        <option value="10:45 AM">10:45 AM</option>
 
	        <option value="11:00 AM">11:00 AM</option>
	        <option value="11:15 AM">11:15 AM</option>
	        <option value="11:30 AM">11:30 AM</option>
	        <option value="11:45 AM">11:45 AM</option>
 
	        <option value="12:00 PM">12:00 PM</option>
	        <option value="12:15 PM">12:15 PM</option>
	        <option value="12:30 PM">12:30 PM</option>
	        <option value="12:45 PM">12:45 PM</option>
 
	        <option value="1:00 PM">1:00 PM</option>
	        <option value="1:15 PM">1:15 PM</option>
	        <option value="1:30 PM">1:30 PM</option>
	        <option value="1:45 PM">1:45 PM</option>
 
	        <option value="2:00 PM">2:00 PM</option>
	        <option value="2:15 PM">2:15 PM</option>
	        <option value="2:30 PM">2:30 PM</option>
	        <option value="2:45 PM">2:45 PM</option>
 
	        <option value="3:00 PM">3:00 PM</option>
	        <option value="3:15 PM">3:15 PM</option>
	        <option value="3:30 PM">3:30 PM</option>
	        <option value="3:45 PM">3:45 PM</option>
 
	        <option value="4:00 PM">4:00 PM</option>
	        <option value="4:15 PM">4:15 PM</option>
	        <option value="4:30 PM">4:30 PM</option>
	        <option value="4:45 PM">4:45 PM</option>
 
	        <option value="5:00 PM">5:00 PM</option>
	        <option value="5:15 PM">5:15 PM</option>
	        <option value="5:30 PM">5:30 PM</option>
	        <option value="5:45 PM">5:45 PM</option>
 
	        <option value="6:00 PM">6:00 PM</option>
	        <option value="6:15 PM">6:15 PM</option>
	        <option value="6:30 PM">6:30 PM</option>
	        <option value="6:45 PM">6:45 PM</option>
 
	        <option value="7:00 PM">7:00 PM</option>
	        <option value="7:15 PM">7:15 PM</option>
	        <option value="7:30 PM">7:30 PM</option>
	        <option value="7:45 PM">7:45 PM</option>
 
	        <option value="8:00 PM">8:00 PM</option>
	        <option value="8:15 PM">8:15 PM</option>
	        <option value="8:30 PM">8:30 PM</option>
	        <option value="8:45 PM">8:45 PM</option>
 
	        <option value="9:00 PM">9:00 PM</option>
	        <option value="9:15 PM">9:15 PM</option>
	        <option value="9:30 PM">9:30 PM</option>
	        <option value="9:45 PM">9:45 PM</option>
 
	        <option value="10:00 PM">10:00 PM</option>
	        <option value="10:15 PM">10:15 PM</option>
	        <option value="10:30 PM">10:30 PM</option>
	        <option value="10:45 PM">10:45 PM</option>
 
	        <option value="11:00 PM">11:00 PM</option>
	        <option value="11:15 PM">11:15 PM</option>
	        <option value="11:30 PM">11:30 PM</option>
	        <option value="11:45 PM">11:45 PM</option>
	     </div>
	     
	     <div class="text-center">
	     </select>
        <label for="End Time">Event End Time</label>
        <select placeholder="End Time" ng-model="e_Time">
	        <option value="5:00 AM">5:00 AM</option>
	        <option value="5:15 AM">5:15 AM</option>
	        <option value="5:30 AM">5:30 AM</option>
	        <option value="5:45 AM">5:45 AM</option>
 
	        <option value="6:00 AM">6:00 AM</option>
	        <option value="6:15 AM">6:15 AM</option>
	        <option value="6:30 AM">6:30 AM</option>
	        <option value="6:45 AM">6:45 AM</option>
 
	        <option value="7:00 AM">7:00 AM</option>
	        <option value="7:15 AM">7:15 AM</option>
	        <option value="7:30 AM">7:30 AM</option>
	        <option value="7:45 AM">7:45 AM</option>
 
	        <option value="8:00 AM">8:00 AM</option>
	        <option value="8:15 AM">8:15 AM</option>
	        <option value="8:30 AM">8:30 AM</option>
	        <option value="8:45 AM">8:45 AM</option>
 
	        <option value="9:00 AM">9:00 AM</option>
	        <option value="9:15 AM">9:15 AM</option>
	        <option value="9:30 AM">9:30 AM</option>
	        <option value="9:45 AM">9:45 AM</option>
 
	        <option value="10:00 AM">10:00 AM</option>
	        <option value="10:15 AM">10:15 AM</option>
	        <option value="10:30 AM">10:30 AM</option>
	        <option value="10:45 AM">10:45 AM</option>
 
	        <option value="11:00 AM">11:00 AM</option>
	        <option value="11:15 AM">11:15 AM</option>
	        <option value="11:30 AM">11:30 AM</option>
	        <option value="11:45 AM">11:45 AM</option>
 
	        <option value="12:00 PM">12:00 PM</option>
	        <option value="12:15 PM">12:15 PM</option>
	        <option value="12:30 PM">12:30 PM</option>
	        <option value="12:45 PM">12:45 PM</option>
 
	        <option value="1:00 PM">1:00 PM</option>
	        <option value="1:15 PM">1:15 PM</option>
	        <option value="1:30 PM">1:30 PM</option>
	        <option value="1:45 PM">1:45 PM</option>
 
	        <option value="2:00 PM">2:00 PM</option>
	        <option value="2:15 PM">2:15 PM</option>
	        <option value="2:30 PM">2:30 PM</option>
	        <option value="2:45 PM">2:45 PM</option>
 
	        <option value="3:00 PM">3:00 PM</option>
	        <option value="3:15 PM">3:15 PM</option>
	        <option value="3:30 PM">3:30 PM</option>
	        <option value="3:45 PM">3:45 PM</option>
 
	        <option value="4:00 PM">4:00 PM</option>
	        <option value="4:15 PM">4:15 PM</option>
	        <option value="4:30 PM">4:30 PM</option>
	        <option value="4:45 PM">4:45 PM</option>
 
	        <option value="5:00 PM">5:00 PM</option>
	        <option value="5:15 PM">5:15 PM</option>
	        <option value="5:30 PM">5:30 PM</option>
	        <option value="5:45 PM">5:45 PM</option>
 
	        <option value="6:00 PM">6:00 PM</option>
	        <option value="6:15 PM">6:15 PM</option>
	        <option value="6:30 PM">6:30 PM</option>
	        <option value="6:45 PM">6:45 PM</option>
 
	        <option value="7:00 PM">7:00 PM</option>
	        <option value="7:15 PM">7:15 PM</option>
	        <option value="7:30 PM">7:30 PM</option>
	        <option value="7:45 PM">7:45 PM</option>
 
	        <option value="8:00 PM">8:00 PM</option>
	        <option value="8:15 PM">8:15 PM</option>
	        <option value="8:30 PM">8:30 PM</option>
	        <option value="8:45 PM">8:45 PM</option>
 
	        <option value="9:00 PM">9:00 PM</option>
	        <option value="9:15 PM">9:15 PM</option>
	        <option value="9:30 PM">9:30 PM</option>
	        <option value="9:45 PM">9:45 PM</option>
 
	        <option value="10:00 PM">10:00 PM</option>
	        <option value="10:15 PM">10:15 PM</option>
	        <option value="10:30 PM">10:30 PM</option>
	        <option value="10:45 PM">10:45 PM</option>
 
	        <option value="11:00 PM">11:00 PM</option>
	        <option value="11:15 PM">11:15 PM</option>
	        <option value="11:30 PM">11:30 PM</option>
	        <option value="11:45 PM">11:45 PM</option>
        </select>
        </div>
      </div>
      </br>
      
      <div class="form-group">
        <label for="Registration Required">Registration Required?</label>
        <div class="radio">
          <label>
          <input type="radio" name="Regis-Yes" id="Regis-Yes" value="Yes" ng-model="regist" checked>
            Yes
          </label>
        </div>
        <div class="radio">
          <label>
          <input type="radio" name="Regis-No" id="Regis-No" value="No" ng-model="regis">
            No
          </label>
        </div>
      </div>
      </br>
      
      <div class="form-group">
        <label for="Admission">Admission</label>
        <input type="text" class="form-control" placeholder="Admission Cost" ng-model="addmis">
      </div>
      </br>
      
      <div class="form-group">
        <label for="Event Information">Event Information</label>
        <textarea class="form-control" rows="5" placeholder="Tell us about your event" ng-model="event_I"></textarea>
      </div>
      </br>
      
      <div class="form-group">
        <label for="Event Key">Event Key</label>
        <input type="text" class="form-control" placeholder="Come up with a unique tag for your event!" ng-model="event_Key">
      </div>
      </br>
      </br>
      
      <div class="text-left">
        <div class="form-group">
          <label for="Street Number">Street Number</label>
          <input type="text" class="form-control" placeholder="Street Number" ng-model="street_Nu">
        </div>
        </br>
      
        <div class="form-group">
          <label for="Street Name">Street Name</label>
          <input type="text" class="form-control" placeholder="Street Name" ng-model="street_Na">
        </div>
      </div>
      </br>
      
      <div class="form-group">
        <label for="City">City</label>
        <input type="text" class="form-control" placeholder="City" ng-model="city">
      </div>
      </br>
      
      <div class="form-group">
        <label for="Province/State">Province/State</label>
        <input type="text" class="form-control" placeholder="Province/State" ng-model="prosta">
      </div>
      </br>
      
      <div class="form-group">
        <label for="Postal Code/Zipcode">Postal Code/Zipcode</label>
        <input type="text" class="form-control" placeholder="Postal Code/Zipcode" ng-model="postzip">
      </div>
      </br>
      </br>
      
      <div class="form-group">
        <label for="Event's Web Page">Event's Web Page</label>
        <input type="url" class="form-control" placeholder="Event's Web Page" ng-model="web">
      </div>
      </br>
      
      <div class="form-group">
        <label for="Event's Facebook Page">Event's Facebook Page</label>
        <input type="url" class="form-control" placeholder="Facebook Page" ng-model="faceb">
      </div>
      </br>
      
      <div class="form-group">
        <label for="Event's Instagram Page">Event's Instagram Page</label>
        <input type="url" class="form-control" placeholder="Instagram" ng-model="insta">
      </div>
      </br>
      
      <div class="form-group">
        <label for="Event's Twitter Feed">Event's Twitter Feed</label>  
        <input type="url" class="form-control" placeholder="Twitter Feed" ng-model="tweet">
      </div>
      </br>
      
      <div class="form-group">
        <label for="Event's Google+ page">Event's Google+ page</label>
        <input type="url" class="form-control" placeholder="Google+ Page" ng-model="google">
      </div>
      </br>
      

      <input type="submit" id="submit" value="Submit" />
      </div>
    </form>
	</script>

  
</body>
</html>