<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Webpage-based application for viewing events near user's location">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title><%= title %></title>
        
        <!-- JS Source -->
        <script src="https://cdn.jsdelivr.net/lodash/3.10.0/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <script src="../javascripts/angular-simple-logger.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.3.2/angular-google-maps.min.js"></script>
        <script src="../javascripts/nowmaprApp.js"></script>
        
        <!-- CSS (load Bootstrap from a CDN) -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">
            html, body { margin:0; padding-top:0; height: 100%;}
            #map {height: 100%;}
            .angular-google-map-container { height: 100%; width: 100%; position: absolute; top:0; left:0;}
        </style>
    </head>
    <!-- Declares nowmaprApp as the starting Angular module -->
    <body ng-app="nowmaprApp">
        <div ng-controller="displayEvents">
            <div id="map">
                <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'></ui-gmap-google-map>
            </div>
        </div> 
    </body>
</html>